<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>list</title>
    <link rel="stylesheet" href="css/style2.css">
</head>

<body>
<div class="header">
    <h1>List Files</h1>
    <a href="select.html" style="text-decoration: none">返回</a>
</div>
<br><br>

<div class="flex-container">
    <div class="inputbox">
        <form method="get" action="listfiles">
            <button>List</button>
        </form>
    </div>
</div>
<br><br>

<div class="flex-container">
    <table>
        <tr>
            <th>名称</th>
        </tr>
        <tr th:each="f:${allfiles}">
            <td th:text="${f.getName()}">文件名</td>
        </tr>
    </table>
</div>

</body>
</html>